# CSharp Project
VMUV TCP CSharp/.vs/
VMUV TCP CSharp/TestResults/
VMUV TCP CSharp/VMUV TCP CSharp/bin/
VMUV TCP CSharp/VMUV TCP CSharp/obj/
VMUV TCP CSharp/VMUV TCP CSharp Tests/bin/
VMUV TCP CSharp/VMUV TCP CSharp Tests/obj/